<div class="row">
  <div class="span4">
    <div class="title">snifie</div>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="sub-title">Event Search Simplified</div>
  </div>
</div>

<div class="row call-to-action">
  <div class="span4">
    <%= link_to 'Browse Events', grid_events_path, :class => "btn btn-large btn-primary" %>
  </div>
</div>
