<div class="message-panel hidden-phone">
	<div class="container">

		<div class="row">
			<div class="span12">
				Message goes here.. Plus Login!
			</div>
		</div>
		
		</div>
</div>

<div class="main-panel">
	<div class="container">

		<div class="row">
			<div class="span4 jumbotron vertically-centrilize well">
				<div class="row">
					<div class="span4">
						<div class="title">snifie</div>
					</div>
				</div>

				<div class="row">
					<div class="span4">
						<div class="sub-title">Event Search Simplified</div>
					</div>
				</div>

				<div class="row call-to-action">
					<div class="span4">
						<%= link_to 'Browse Events', grid_events_path, :class => "btn btn-large btn-primary" %>
					</div>
				</div>
			</div>
		</div>

		<div class="phone-message-panel visible-phone">
			<div class="row">
				<div class="span12">
					Message goes here.. Plus Login!
				</div>
			</div>
		</div>

	</div>
</div>

<div class="divider">
</div>

<div class="lower-panel">
	<div class="container">

		<div class="row">
			<div class="span4">
				<div class="well">
					More information about us
				</div>
			</div>

			<div class="span4">
				<div class="well">
					More information about us
				</div>
			</div>

			<div class="span4">
				<div class="well">
					More information about us
				</div>
			</div>
		</div>

	</div>
</div>
