
  <ul class="thumbnails">
    <% @events.each do |event| %>

      <li class="span3">
        <div class="thumbnail">
          <%= link_to(event_path(event)) do %>
            <%= image_tag event.image_url(:thumb).to_s %>
          <% end %>
          <div class="caption">
            <h4 class="dotify"><%= event.name %></h4>
          </div>
        </div>
      </li>

    <% end %>
  </ul>


