// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thumbnail {
        border:0px solid #DDDDDD;
        border-radius: 4px 4px 4px 4px;
        display: block;
        line-height: 1;
        padding: 0px;
        text-align: center;
        .caption h6{
                color: rgb(50,50,50);
        }
}

a:hover {
        text-decoration: none;
}


@bkcolor1: rgb(206,37,61);      // red
@bkcolor2: rgb(158,182,62);     // green
@bkcolor3: rgb(135,193,220);    // blue
@bkcolor4: rgb(242,242,82);     // yellow

@textcolor1: #101010;   // red
@textcolor2: #202020;   // green
@textcolor3: #202020;   // blue
@textcolor4: #202020;   // yellow

.thumbnail.self-improvement, .thumbnail.self-improvement:hover {
        .caption {
                background-color: @bkcolor1;
                h4 {
                        color: @textcolor1;
                }
        }
}

.thumbnail.professional{
        .caption {
                background-color:  @bkcolor2;
                h4 {
                        color: @textcolor2;
                }
        }
}

.thumbnail.entertainment{
        .caption {
                background-color:  @bkcolor3;
                h4 {
                        color: @textcolor3;
                }
        }
}

.thumbnail.outdoors{
        .caption {
                background-color:  @bkcolor4;
                h4 {
                        color: @textcolor4;
                }
        }
}

