// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	font-family: 'Karla', sans-serif;
	color: white;
	.title {
		font-size: 700%;
		line-height: 1;
		text-align: center;
	}
	.sub-title {
		font-size:120%;
		text-align: center;
	}
	.call-to-action {
		margin-top: 50px;
		text-align: center;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.centrify{
		margin-top: 0px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
	.home-image {
		background: url('atlanta2.jpg') no-repeat fixed 0 -300px #000000;
	}
	.centrify{
		margin-top: 170px;
		margin-bottom: 200px;
	}
}

